<mat-card>
    <mat-card-header>
        <mat-form-field>
            <input (keyup)="Filterchange($event)" matInput placeholder="Enter the text" />
        </mat-form-field>
        <button style="margin-left: 60%;" (click)="addcustomer()" mat-raised-button color="primary">Add Food (+)</button>
    </mat-card-header>
    <mat-card-content>
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Id</th>
                    <td mat-cell *matCellDef="let element">{{element._id}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Price</th>
                    <td mat-cell *matCellDef="let element">{{element.price}}</td>
                </ng-container>

                <ng-container matColumnDef="tag">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Tag</th>
                    <td mat-cell *matCellDef="let element">{{element.tags}}</td>
                </ng-container>

                <ng-container matColumnDef="imageUrl">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Image</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.imageUrl}}
                        <img style="width: 100%; height: 100px; " src="{{element.imageUrl}}" alt="">
                    </td>
                </ng-container>

                <ng-container matColumnDef="cookTime">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> cookTime</th>
                    <td mat-cell *matCellDef="let element">{{element.cookTime}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element" class="actions">
                        <button mat-raised-button color="primary" (click)="openDialogEdit(element._id)">Edit</button>
                        <button mat-raised-button color="warn" (click)="openDialogDel(element._id)">Delete</button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

        </table>
    </mat-card-content>
<br>
    <mat-card-footer>
        <mat-paginator [length]="totocalCount" [pageSizeOptions]="[1,2,3]" showFirstLastButtons (page)="onPageChange($event)">></mat-paginator>
    </mat-card-footer>
</mat-card>