<div class="container">
    <div class="card">
        <img src="../../../../assets/state-1.jpg" alt="Avatar" style="width:100%">
        <div class="profile">
          <h4><b>Harriet Van Horne</b></h4>
          <p>Cooking is like love; it should be entered into with abandon or not at all.</p>
        </div>
    </div>    
    <div class="card">
        <img src="../../../../assets/state-2.jpg" alt="Avatar" style="width:100%">
        <div class="profile">
          <h4><b>Gordon Ramsay</b></h4>
          <p>Cooking is about passion, so it may look slightly temperamental in a way that it's too assertive to the naked eye.</p>
        </div>
    </div>    
    <div class="card">
        <img src="../../../../assets/state-3.jpg" alt="Avatar" style="width:100%">
        <div class="profile">
          <h4><b>Alice Waters</b></h4>
          <p>Cooking is about creating something delicious for someone else.</p>
        </div>
    </div>    
</div>