.container{
    display: flex;
    justify-content: center;
}

.details{
    width: 40rem;
    border: 1px solid #F08080;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.profile{
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile__item{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

app-title{
    display: flex;
    justify-content: center;
}

.profile__item_name{
    position: absolute;
    left: 360px;
}