<div class="container">
    <div class="details">
        <app-title title="Register"></app-title>
        <form [formGroup]="resetPawordForm" (ngSubmit)="submit()">
            <text-input
            label="new Password"
            type="password"
            [control]="fc.newPassword" 
            [showErrorsWhen]="isSubmitted"
            >
            </text-input>

            
            <default-button text="Reset password" [fontSizeRem]="1.1"  [widthRem]="10"></default-button>
        </form>
    </div>
</div>