button{
    margin: 2px;
}

.actions {
    display: flex;
}

.img-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: auto;
    border-radius: 3rem;
}