<div class="container">
    <div class="footer_content">
        <div class="footer_image">
            <img src="../../../../assets/logo-footer.png" alt="">
            <p>
                Thank you for visiting our Food Store, wish you a delicious meal !!
            </p>
        </div>

        <div class="footer_useful_link">
            <h2>Useful Link</h2>
            <ul>
                <li><fa-icon [icon]="faRightToBracket"></fa-icon>Login</li>
                <li><fa-icon [icon]="faArrowRightFromBracket"></fa-icon>Order</li>
                <li><fa-icon [icon]="faUser"></fa-icon>Profile</li>
                <li><fa-icon [icon]="faCartShopping"></fa-icon>Cart</li>
            </ul>
        </div>

        <div class="footer_follow">
            <h2>Follow Us</h2>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>

        <div class="footer_address">
            <h2>Addres</h2>
            <ul>
                <li><fa-icon [icon]="faAddressBook"></fa-icon>11 xo viet nghe tinh</li>
                <li><fa-icon [icon]="faPhone"></fa-icon>0125154</li>
                <li><fa-icon [icon]="faEnvelope"></fa-icon>mai.com</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>
<div class="footer_bottom">
    <p>© 2021 Food Mine! All Rights Reserved</p> 
</div>
