<h3>Change Password</h3>
<div class="container">
    <div class="details">
        <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
            <text-input
            label="Password Old"
            type="password"
            [control]="fc.oldpassword" 
            [showErrorsWhen]="isSubmitted"
            >
            </text-input>

            <text-input
            label="New Password"
            type="password"
            [control]="fc.newpassword" 
            [showErrorsWhen]="isSubmitted"
            >
            </text-input>

            <text-input
            label="Comfirm Password"
            type="password"
            [control]="fc.confirmpassword" 
            [showErrorsWhen]="isSubmitted"
            >
            </text-input>

            <default-button text="Change Password"></default-button>
        </form>
    </div>
</div>