<form [formGroup]="myform" (ngSubmit)="SaveFood()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
       <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
       </mat-form-field>
       <mat-form-field>
          <mat-label>Price</mat-label>
          <input formControlName="price" matInput>
     </mat-form-field>
       <mat-form-field>
            <mat-label>tags</mat-label>
            <mat-select formControlName="tags" multiple>
               <mat-select-trigger>
                 {{fc.tags.value?.[0] || ''}}
                   <span class="example-additional-selection" *ngIf="(fc.tags.value?.length || 0) > 1">
                     (+{{(fc.tags.value?.length || 0) - 1}} {{fc.tags.value?.length === 2 ? 'other' : 'others'}})
                   </span>
                 
               </mat-select-trigger>
                    <mat-option *ngFor="let topping of tagList" [value]="topping">{{topping}}</mat-option>
               </mat-select>
       </mat-form-field>
       <mat-form-field>
            <mat-label>origins</mat-label>
            <mat-select formControlName="origins" multiple>
               <mat-select-trigger>
                 {{fc.origins.value?.[0] || ''}}
                   <span class="example-additional-selection" *ngIf="(fc.origins.value?.length || 0) > 1">
                     (+{{(fc.origins.value?.length || 0) - 1}} {{fc.origins.value?.length === 2 ? 'other' : 'others'}})
                   </span>
                 
               </mat-select-trigger>
                    <mat-option *ngFor="let origin of originList" [value]="origin">{{origin}}</mat-option>
               </mat-select>
       </mat-form-field>      
       <mat-form-field>
            <mat-label>cookTime</mat-label>
            <input matInput formControlName="cookTime">
       </mat-form-field>
       <div>
          <label>Food Image</label>
          <br>
          <img class="food-image" *ngIf="foodImgPreview" [src]="foodImgPreview" alt="no update">
          <input type="file" (change)="onFileSelected($event)" accept="image/*">
      </div>
       <div>
        <mat-checkbox >Is Active</mat-checkbox>
       </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <a mat-dialog-close mat-raised-button color="warn">Close</a>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
    </div>
</form>