<header>
    <div class="container">
        <a  routerLink="/" class="logo" >Food Mine!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" *ngIf="!user.metadata.shop._id">Login</a>
                    <a routerLink="/login" *ngIf="user.metadata.shop._id">Logout</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">{{user.metadata.shop.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/order">Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span>{{cartQuantity}}</span> 
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>