app-title{
    display: flex;
    justify-content: center;
}

.back span{
    font-size: 2.5rem;
    margin: 5rem;
}


/* test  */
.column {
    float: left;
    padding: 10px;
    height: 25rem; 
}
  
.left {
    width: 24%;
    border-radius: 1rem 0 0 1rem;
}
  
.right {
    background-color: aliceblue;
    width: 76%;
    background-color: #F5F5F5;
}
  
.row{
    margin-top: 1rem;
    width: 100%;
    padding: 2rem 2rem;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

li{
    list-style-type: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

fa-icon{
    margin-right: 1rem;
}