<div *ngIf="user && user._id" class="back">
    <span>
        <a routerLink="/">🔙</a>
    </span>
</div>
<app-title title="Profile" margin="1.6rem"></app-title>
<div class="container">
    <div class="details">
        <div class="profile">
            <span>Full name: {{user.name}}</span>
        </div>

        <div class="profile">
            <span>Email: {{user.email}}</span>
        </div>
        
        <div class="profile">
            <span>Address: {{user.address}}</span>
        </div>

        <div class="profile">
            <span>Status: {{user.status}}</span>
        </div>

    </div>
</div>