<div *ngIf="user && user._id" class="back">
    <span>
        <a routerLink="/">🔙</a>
    </span>
</div>
<div class="container">
    <div class="details">
        <input-container label="Họ Tên">
            <input type="text" [value]="user.name" readonly/>
        </input-container>

        <input-container label="Email">
            <input type="text" [value]="user.email" readonly/>
        </input-container>

        <input-container label="Status">
            <input type="text" [value]="user.status" readonly/>
        </input-container>
    </div>
</div>