<div class="container">
    <div class="details">
        <app-title title="Forgot password"></app-title>
        <form [formGroup]="forgotPawordForm" (ngSubmit)="submit()">
            <text-input
            label="Email"
            type="email"
            [control]="fc.email" 
            [showErrorsWhen]="isSubmitted"
            >
            </text-input>

            
            <default-button text="Reset password" [fontSizeRem]="1.1"  [widthRem]="10"></default-button>
        </form>
    </div>
</div>