<h2>Profile</h2>
<div class="container">
    <div class="details">
        <div class="avatar">
            <span><img class="avt-img" src="{{user.avatarUrl}}" alt="avatar"></span>
        </div>
        <div class="profile">
            <span>Full name: {{user.name}}</span>
        </div>

        <div class="profile">
            <span>Email: {{user.email}}</span>
        </div>

        <div class="profile">
            <span>Address: {{user.address}}</span>
        </div>

        <div class="profile">
            <span>Status: {{user.status}}</span>
        </div>
    </div>
</div>