<!-- <mat-drawer-container autosize>
    <mat-drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button routerLink="/card">
                    <mat-icon>dashboard</mat-icon> Food item
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button routerLink="/table">
                    <mat-icon>table</mat-icon> Table
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button>
                    <mat-icon>home</mat-icon> Home
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button>
                    <mat-icon>settings</mat-icon> Settings
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button>
                    <mat-icon>help</mat-icon> Help
                </button>
            </mat-list-item>

            <mat-list-item>
                <button mat-button>
                    <mat-icon>analytics</mat-icon> Analytics
                </button>
            </mat-list-item>

        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <div class="content" style="text-align: center; min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->
